{% extends "base_page.html" %}

{% block page-title %}
Добавить
{% endblock %}

{% block page-lead %}
Ниже представлена форма для добавления новой записи в словарь.
Укажите e-mail, чтобы другие пользователи при необходимости могли с Вами связаться.
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-form" xmlns="http://www.w3.org/1999/html">
    <form method="post">
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="user@mail.ru" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Ваше слово</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="word">Слово</label>
                <input type="text" class="form-control input-lg" name="word" id="word" value required>
            </div>
            <div class="col-md-6">
                <label for="translation">Перевод</label>
                <input type="text" class="form-control input-lg" name="translation" id="translation" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-word-add">Добавить</button>
        </div>
    </form>
</div>
{% endblock %}
