{% extends "base_page.html" %}

{% block page-title %}
{% if success %}
Успех
{% else %}
Неудача
{% endif %}
{% endblock %}

{% block page-lead %}
{% if success %}
В словаре нашлись соответствующие записи.
{% else %}
В словаре не нашлось соответствующих записей.
{% endif %}
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-form-result">
    {% if success %}
    <div class="rounded-3" style="background-color: white">
        {% if search_type_word %}
            <h3 style="margin-left: 20px; margin-top: 20px">Для слова "{{ search_object }}" были найдены следующие переводы:</h3>
        {% else %}
            <h3  style="margin-left: 20px; margin-top: 20px">Для перевода "{{ search_object }}" были найдены следующие слова:</h3>
        {% endif %}
        {% for result in results %}
            <ul>
                <li style="margin-left: 30px">
                    <h4>{{ result }}</h4>
                </li>
            </ul>
        {% endfor %}
    </div>
    <h2 class="pb-2 border-bottom">Что Вы хотите делать дальше?</h2>
        <ul>
            <li>продолжить работать с <a href="/find-word">переводчиком</a>,</li>
            <li>вернуться на <a href="/">главную</a></li>
        </ul>
    {% else %}
    <div class="rounded-3" style="background-color: white">
        <h2 class="pb-2 border-bottom">Что Вы хотите делать дальше?</h2>
        <ul>
            <li><a href="/add-word">добавить</a> отсутствующее слово в Словарь+,</li>
            <li>вернуться на <a href="/">главную</a></li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
