{% extends "base_page.html" %}

{% block page-title %}
Переводчик
{% endblock %}

{% block page-lead %}
На этой странице Вы можете попытаться найти какое-либо слово в Словаре+.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h2>Настройки поиска</h2>
        </div>
        <div class="row px-5 py-2">
            <h3>Тип поиска:</h3>
            <select name="search_type" style="margin-left: 50px">
                <option value="word">по слову</option>
                <option value="translation">по переводу</option>
            </select>
        </div>

        <div class="row px-5 py-2">
            <h3>Объект поиска:</h3>
            <div class="col-md-4">
                <p>Напишите искомое слово/перевод<p>
                <input type="text" class="form-control input-lg" name="search_object" id="search_object" value required>
            </div>
        </div>

        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-word-translate">Найти</button>
        </div>
    </form>
</div>
{% endblock %}
