{% extends "base_page.html" %}

{% block page-title %}
Добро пожаловать!
{% endblock %}

{% block page-lead %}
Вы зашли на сайт "Словарь+". Это сайт для людей,
желающих пополнить свой vocabulary и помочь в этом другим.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">

        <div class="col d-flex">
            <div class="icon-square text-bg-transparent d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div class="rounded-3" style="background-color: white">
                <h3 class="fs-2" style="text-align: center">Словарь</h3>
                <p style="margin-left: 20px">Здесь Вы можете посмотреть список добавленных слов и их переводов.</p>
                <a href="/words-list" class="btn btn-primary" style="position: relative; left: 50%; transform: translate(-50%, 0)">Посмотреть</a>
            </div>
        </div>

        <div class="col d-flex">
            <div class="icon-square text-bg-transparent d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div class="rounded-3" style="background-color: white">
                <h3 class="fs-2" style="text-align: center">Добавить</h3>
                <p style="margin-left: 20px">Заполните короткую форму, чтобы добавить новое слово и его перевод в словарь.</p>
                <a href="/add-word" class="btn btn-primary" style="position: relative; left: 50%; transform: translate(-50%, 0)">Заполнить форму</a>
            </div>
        </div>

	    <div class="col d-flex">
            <div class="icon-square text-bg-transparent d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div class="rounded-3" style="background-color: white">
                <h3 class="fs-2" style="text-align: center">Переводчик</h3>
                <p style="margin-left: 20px">Здесь Вы можете воспользоваться функцией поиска слова по словарю.</p>
                <a href="/add-word" class="btn btn-primary" style="position: relative; left: 50%; transform: translate(-50%, 0)">Поиск</a>
            </div>
        </div>

        <div class="col d-flex">
            <div class="icon-square text-bg-transparent d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div class="rounded-3" style="background-color: white">
                <h3 class="fs-2" style="text-align: center">Статистика</h3>
                <p style="margin-left: 20px">Узнайте статистику по добавлению слов и наиболее активных пользователей</p>
                <a href="/stats" class="btn btn-primary" style="position: relative; left: 50%; transform: translate(-50%, 0)">Статистика</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
