{% extends "base_page.html" %}

{% block page-title %}
Словарь
{% endblock %}

{% block page-lead %}
На этой странице представлены добавленные пользователями записи.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm" bgcolor="white">
            <thead>
                <tr>
                    <th scope="col" class="py-3">#</th>
                    <th scope="col" class="py-3">Слово</th>
                    <th scope="col" class="py-3">Перевод</th>
                </tr>
            </thead>
            <tbody>
                {% for cnt, word, translation in words %}
                <tr>
                    <td class="py-3">{{ cnt }}</td>
                    <td class="py-3">{{ word }}</td>
                    <td class="py-3">{{ translation }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
